.header-bg {
  background-color: var(--cor-12);
  width: 100vw;
}
.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin: 0px;
}
.menu-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  list-style: none;
}
.menu-flex a::after{
  content: "";
  display: block;
  height: 2px;
  width: 0px;
  background-color: var(--cor-0);
  margin-top: 4px;
  transition: 0.3s;
  position: absolute;
}
.menu-flex a:hover::after{
  width: 100%;
}
.menu-flex li a {
  padding: 16px 0px;
  display: inline-block;
  position: relative;
}

@media (max-width: 800px) {
  .menu-flex li a{
background-color:var(--cor-10);
padding: 10px ;
border-radius: 4px;
}
.menu-flex a::after{
  display: none;
}
}
