.tecnologia-bg{
  background-color: var(--cor-11);
  box-shadow: inset 0 80px var(--cor-0),inset 0 -80px var(--cor-0);
}
.tecnologia{
  background-color: var(--cor-11);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  box-shadow: inset 0 80px var(--cor-0),inset 0 -80px var(--cor-0);
}
.tecnologia-descricao{
  padding: 160px 0px;
}
.tecnologia-acessorios{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}
.tecnologia-descricao a{
  margin-bottom: 80px;
}
.tecnologia-descricao h2{
  margin-bottom: 32px;
}
.tecnologia-descricao p{
  margin-bottom: 20px;
}
.tecnologia-acessorios img{
width: 24px;
margin-bottom: 8px;
}
.tecnologia-acessorios h3{
  margin-bottom: 8px;
  width: max-content;
}
.tecnologia-foto img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}
@media(max-width:800px){
  .tecnologia-bg{
    box-shadow: initial;
  }
  .tecnologia{
    grid-template-columns: 1fr;
    box-shadow: initial;
}
.tecnologia-descricao > span{
display: inline-block;
margin-bottom: 16px;
 }
  .tecnologia-descricao{
    padding: 40px 0px;
  }
  .tecnologia-descricao > a {
    margin-bottom: 40px;
  }
  .tecnologia-acessorios{
    grid-template-columns: 1fr;
  }
  .tecnologia-foto{
    display: none;
  }
}
@media(max-width:400px){
  .link{
    width: max-content;
  }

}